<div>
    <h2 id="page-heading">
        <span jhiTranslate="testModelSimpleApp.waHostCompany.home.title">Wa Host Companies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wa-host-company" [routerLink]="['/wa-host-company/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testModelSimpleApp.waHostCompany.home.createLabel">
            Create a new Wa Host Company
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="waHostCompanies?.length === 0">
        <span jhiTranslate="testModelSimpleApp.waHostCompany.home.notFound">No waHostCompanies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="waHostCompanies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waHostCompany.localIdNumber">Local Id Number</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waHostCompany.effectiveDate">Effective Date</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waHostCompany.sequence">Sequence</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waHostCompany.assignmentType">Assignment Type</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waHostCompany.assignmentTypeLabel">Assignment Type Label</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waHostCompany.hostCompanyCode">Host Company Code</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waHostCompany.groupHostCompanyCode">Group Host Company Code</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waHostCompany.waEmployee">Wa Employee</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let waHostCompany of waHostCompanies ;trackBy: trackId">
                    <td><a [routerLink]="['/wa-host-company', waHostCompany.id, 'view']">{{ waHostCompany.id }}</a></td>
                    <td>{{ waHostCompany.localIdNumber }}</td>
                    <td>{{ waHostCompany.effectiveDate | date:'medium' }}</td>
                    <td>{{ waHostCompany.sequence }}</td>
                    <td>{{ waHostCompany.assignmentType }}</td>
                    <td>{{ waHostCompany.assignmentTypeLabel }}</td>
                    <td>{{ waHostCompany.hostCompanyCode }}</td>
                    <td>{{ waHostCompany.groupHostCompanyCode }}</td>
                    <td>
                        <div *ngIf="waHostCompany.waEmployee">
                            <a [routerLink]="['/wa-employee', waHostCompany.waEmployee?.id, 'view']" >{{ waHostCompany.waEmployee?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/wa-host-company', waHostCompany.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/wa-host-company', waHostCompany.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(waHostCompany)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
