<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wa-seniority-heading" jhiTranslate="testModelSimpleApp.waSeniority.home.createOrEditLabel">Create or edit a Wa Seniority</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testModelSimpleApp.waSeniority.localIdNumber" for="field_localIdNumber">Local Id Number</label>
                    <input type="text" class="form-control" name="localIdNumber" id="field_localIdNumber"
                           formControlName="localIdNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testModelSimpleApp.waSeniority.groupSgDateOfEntry" for="field_groupSgDateOfEntry">Group Sg Date Of Entry</label>
                    <div class="d-flex">
                        <input id="field_groupSgDateOfEntry" type="datetime-local" class="form-control" name="groupSgDateOfEntry" formControlName="groupSgDateOfEntry" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('groupSgDateOfEntry')!.invalid && (editForm.get('groupSgDateOfEntry')!.dirty || editForm.get('groupSgDateOfEntry')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('groupSgDateOfEntry')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('groupSgDateOfEntry')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testModelSimpleApp.waSeniority.sgSeniorityDate" for="field_sgSeniorityDate">Sg Seniority Date</label>
                    <div class="d-flex">
                        <input id="field_sgSeniorityDate" type="datetime-local" class="form-control" name="sgSeniorityDate" formControlName="sgSeniorityDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('sgSeniorityDate')!.invalid && (editForm.get('sgSeniorityDate')!.dirty || editForm.get('sgSeniorityDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sgSeniorityDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('sgSeniorityDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testModelSimpleApp.waSeniority.hireDate" for="field_hireDate">Hire Date</label>
                    <div class="d-flex">
                        <input id="field_hireDate" type="datetime-local" class="form-control" name="hireDate" formControlName="hireDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('hireDate')!.invalid && (editForm.get('hireDate')!.dirty || editForm.get('hireDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hireDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('hireDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testModelSimpleApp.waSeniority.bankingSectorSeniority" for="field_bankingSectorSeniority">Banking Sector Seniority</label>
                    <input type="text" class="form-control" name="bankingSectorSeniority" id="field_bankingSectorSeniority"
                           formControlName="bankingSectorSeniority"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testModelSimpleApp.waSeniority.endingOfTrialPeriodEstimatedDate" for="field_endingOfTrialPeriodEstimatedDate">Ending Of Trial Period Estimated Date</label>
                    <div class="d-flex">
                        <input id="field_endingOfTrialPeriodEstimatedDate" type="datetime-local" class="form-control" name="endingOfTrialPeriodEstimatedDate" formControlName="endingOfTrialPeriodEstimatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testModelSimpleApp.waSeniority.waEmployee" for="field_waEmployee">Wa Employee</label>
                    <select class="form-control" id="field_waEmployee" name="waEmployee" formControlName="waEmployee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="waEmployeeOption.id === editForm.get('waEmployee')!.value?.id ? editForm.get('waEmployee')!.value : waEmployeeOption" *ngFor="let waEmployeeOption of waemployees; trackBy: trackById">{{ waEmployeeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
