<div>
    <h2 id="page-heading">
        <span jhiTranslate="testModelSimpleApp.waSeniority.home.title">Wa Seniorities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wa-seniority" [routerLink]="['/wa-seniority/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testModelSimpleApp.waSeniority.home.createLabel">
            Create a new Wa Seniority
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="waSeniorities?.length === 0">
        <span jhiTranslate="testModelSimpleApp.waSeniority.home.notFound">No waSeniorities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="waSeniorities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waSeniority.localIdNumber">Local Id Number</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waSeniority.groupSgDateOfEntry">Group Sg Date Of Entry</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waSeniority.sgSeniorityDate">Sg Seniority Date</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waSeniority.hireDate">Hire Date</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waSeniority.bankingSectorSeniority">Banking Sector Seniority</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waSeniority.endingOfTrialPeriodEstimatedDate">Ending Of Trial Period Estimated Date</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waSeniority.waEmployee">Wa Employee</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let waSeniority of waSeniorities ;trackBy: trackId">
                    <td><a [routerLink]="['/wa-seniority', waSeniority.id, 'view']">{{ waSeniority.id }}</a></td>
                    <td>{{ waSeniority.localIdNumber }}</td>
                    <td>{{ waSeniority.groupSgDateOfEntry | date:'medium' }}</td>
                    <td>{{ waSeniority.sgSeniorityDate | date:'medium' }}</td>
                    <td>{{ waSeniority.hireDate | date:'medium' }}</td>
                    <td>{{ waSeniority.bankingSectorSeniority }}</td>
                    <td>{{ waSeniority.endingOfTrialPeriodEstimatedDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="waSeniority.waEmployee">
                            <a [routerLink]="['/wa-employee', waSeniority.waEmployee?.id, 'view']" >{{ waSeniority.waEmployee?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/wa-seniority', waSeniority.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/wa-seniority', waSeniority.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(waSeniority)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
