<div>
    <h2 id="page-heading">
        <span jhiTranslate="testModelSimpleApp.waGender.home.title">Wa Genders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wa-gender" [routerLink]="['/wa-gender/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testModelSimpleApp.waGender.home.createLabel">
            Create a new Wa Gender
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="waGenders?.length === 0">
        <span jhiTranslate="testModelSimpleApp.waGender.home.notFound">No waGenders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="waGenders?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waGender.localIdNumber">Local Id Number</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waGender.employeeLocalGender">Employee Local Gender</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waGender.employeeGender">Employee Gender</span></th>
                    <th scope="col" ><span jhiTranslate="testModelSimpleApp.waGender.waEmployee">Wa Employee</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let waGender of waGenders ;trackBy: trackId">
                    <td><a [routerLink]="['/wa-gender', waGender.id, 'view']">{{ waGender.id }}</a></td>
                    <td>{{ waGender.localIdNumber }}</td>
                    <td>{{ waGender.employeeLocalGender }}</td>
                    <td>{{ waGender.employeeGender }}</td>
                    <td>
                        <div *ngIf="waGender.waEmployee">
                            <a [routerLink]="['/wa-employee', waGender.waEmployee?.id, 'view']" >{{ waGender.waEmployee?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/wa-gender', waGender.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/wa-gender', waGender.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(waGender)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
