<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="waMaritalStatus">
            <h2><span jhiTranslate="testModelSimpleApp.waMaritalStatus.detail.title">Wa Marital Status</span> {{ waMaritalStatus.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testModelSimpleApp.waMaritalStatus.localIdNumber">Local Id Number</span></dt>
                <dd>
                    <span>{{ waMaritalStatus.localIdNumber }}</span>
                </dd>
                <dt><span jhiTranslate="testModelSimpleApp.waMaritalStatus.maritalStatusCode">Marital Status Code</span></dt>
                <dd>
                    <span>{{ waMaritalStatus.maritalStatusCode }}</span>
                </dd>
                <dt><span jhiTranslate="testModelSimpleApp.waMaritalStatus.maritalStatusLabel">Marital Status Label</span></dt>
                <dd>
                    <span>{{ waMaritalStatus.maritalStatusLabel }}</span>
                </dd>
                <dt><span jhiTranslate="testModelSimpleApp.waMaritalStatus.effectiveDate">Effective Date</span></dt>
                <dd>
                    <span>{{ waMaritalStatus.effectiveDate }}</span>
                </dd>
                <dt><span jhiTranslate="testModelSimpleApp.waMaritalStatus.waEmployee">Wa Employee</span></dt>
                <dd>
                    <div *ngIf="waMaritalStatus.waEmployee">
                        <a [routerLink]="['/wa-employee', waMaritalStatus.waEmployee?.id, 'view']">{{ waMaritalStatus.waEmployee?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wa-marital-status', waMaritalStatus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
